@import '../partials/variables';
@import '../partials/section_wrapper';
@import '../partials/public_slider';
@import '../partials/buttons';

#recipes-show {
  h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  div.info {
    position: relative;
    left: 5rem;
    width: 75%;
    text-align: left;

    > div {
      display: flex;
      gap: 1.6rem;
      margin-bottom: 1.6rem;

      h2 {
        min-width: 20%;
        font-weight: bold;
        text-align: center;
        align-self: center;
      }

      span {
        flex-grow: 1;
        text-align: justify;
      }
    }
  }

  .btn-submit {
    position: relative;
    color: $black;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
  }

  input[type=submit] {
    display: none;
  }

  .ingredients {
    margin: 3rem auto;
    width: 80%;
    border: solid 0.2rem $black;

    thead {
      background-color: $gray3;

      th {
        padding: 1rem;
        color: $white;
        font-weight: bold;
      }
    }

    tbody {
      tr {
        td {
          padding: 1.2rem;

          .actions {
            button {
              color: $red;

              &:hover,
              &:active {
                color: lighten($red, 20%);
              }
            }
          }
        }
      }
    }
  }
}
