@import '../partials/variables';
@import '../partials/section_wrapper';

#foods-index {
  .add-food-btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $btn-background;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
      background-color: #2980b9;
    }
  }

  .food-container {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;

    th,
    td {
      border: solid 0.1rem #ddd;
      padding: 0.8rem;
      text-align: center;
    }

    th,
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }
  }
}
