// Colors
$linkColorActive: #56a6ff;
$linkColor: darken($linkColorActive, 30%);
$black: black;
$gray3: gray;
$gray4: #acacac;
$white: #fff;
$red: red;
$green: green;

// Fonts
$mainFontFamily: verdana, geneva, tahoma, sans-serif;
