<style>
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }

  #devise-mail_confirmation {
    width: 60vw;
    text-align: center;
  }

  span.email {
    color: gray;
    font-style: italic;
  }

  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: #0059bc;
  }

  a:hover,
  a:active {
    color: #56a6ff;
  }
</style>

<div id="devise-mail_confirmation">
  <h1>Welcome, [<span class="email"><%= @email %></span>]!</h1>

  <img src="https://i.postimg.cc/W4FzFpc9/Screenshot-from-2023-03-16-04-16-35.png" alt="Welcome, user!">
  
  <p>You can confirm your account email through the link below:</p>
  
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, only_path: false) %></p>
</div>
