@import '../partials/variables';
@import '../partials/section_wrapper';

#devise-new {
  h1 {
    margin: 0 0 3.2rem 17vw;
    font-size: 4rem;
  }

  label,
  div.password {
    width: 25%;
  }

  div.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      all: unset;
      font-weight: bold;
    }
  }
}
