@import '../partials/variables';
@import '../partials/section_wrapper';

#devise-forgot_password {
  h1 {
    margin: 0 0 3.2rem 17vw;
    font-size: 4rem;
  }

  label,
  div.password {
    width: 25%;
  }

  div.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.remember {
    position: relative;

    input[type=checkbox] {
      position: absolute;
      left: 25%;
    }
  }

  .btn-submit {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 7.5vw;
  }
}
